.test2
{
color:darkolivegreen !important;	
}
.test1
{
	background-color: burlywood;
}
.test3
{
	color:green;
}
body :hover {
  box-shadow: 0px 23px 46px -23px rgba(0, 0, 0, 0.75);
  transform: translateY(-10px);
}